<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dialog/form_bk.png</key>
			<dict>
				<key>width</key>
				<integer>1028</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1028</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dialog/title_bk.png</key>
			<dict>
				<key>width</key>
				<integer>1154</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>1154</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>newBuild/SubNode_bk.png</key>
			<dict>
				<key>width</key>
				<integer>283</integer>
				<key>height</key>
				<integer>474</integer>
				<key>originalWidth</key>
				<integer>283</integer>
				<key>originalHeight</key>
				<integer>474</integer>
				<key>x</key>
				<integer>1030</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hero/1479.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>902</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>btn_info.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>902</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star_72_74.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>161</integer>
				<key>y</key>
				<integer>902</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>social_btn.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>235</integer>
				<key>y</key>
				<integer>902</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hero/1388.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>1315</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hero/1817.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>420</integer>
				<key>y</key>
				<integer>902</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hero/6607.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>131</integer>
				<key>x</key>
				<integer>1363</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>newBuild/shop_buttom_bk.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>77</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>902</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dialog/form_close.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>1315</integer>
				<key>y</key>
				<integer>133</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>RingUI0.png</string>
			<key>realTextureFileName</key>
			<string>RingUI0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>